@page "/"

@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JSRuntime
@using BlazorAppViewer6.Data;
@using Newtonsoft.Json
@implements IDisposable

<div id="report-viewer" style="width: 100%;height: 950px"></div>

@code {
    // ReportViewer options
    BoldReportViewerOptions viewerOptions = new BoldReportViewerOptions();

    // Used to render the Bold Report Viewer component in Blazor page.
    public async void RenderReportViewer()
    {
        DbDetails dbDetails = new DbDetails() { DbName = "AdventureWorks", DbType = "SQL", Description = "Bold Reports" };
        string json = JsonConvert.SerializeObject(dbDetails);

        viewerOptions.ReportName = "sales-order-detail";
        viewerOptions.ServiceURL = "/api/BoldReportsAPI";

        viewerOptions.DataBaseData = json;

        await JSRuntime.InvokeVoidAsync("BoldReports.RenderViewer", "report-viewer", viewerOptions);
    }
    // Initial rendering of Bold Report Viewer
    protected override void OnAfterRender(bool firstRender)
    {
        RenderReportViewer();
    }
    void IDisposable.Dispose()
    {
        // Unsubscribe from the event when our component is disposed
        JSRuntime.InvokeAsync<bool>("DisposeReportsObject").GetAwaiter();
    }
}