<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7414875e-3b30-49e8-8a25-540d9a7922cd/resourceGroups/NetworkWatcherRG/providers/Microsoft.Web/sites/BlazorAppViewer620230925120735</ResourceId>
    <ResourceGroup>NetworkWatcherRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://blazorappviewer620230925120735.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dd4529a5-5b41-43c3-9fd1-15c57565a256</ProjectGuid>
    <PublishUrl>https://blazorappviewer620230925120735.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BlazorAppViewer620230925120735</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>