<configuration>
  <configSections>
    <section name="ReportingExtensions" type="BoldReports.Configuration.Extensions,  BoldReports.WPF" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <ReportingExtensions>
    <ReportItems>
      <ReportItem Name="Barcode" Assembly="BoldReports.Extensions.BarcodeCRI" Type="BoldReports.Extensions.BarcodeCRI.BarcodeCustomReportItem" />
      <ReportItem Name="matrixbarcode" Assembly="BoldReports.Extensions.BarcodeCRI" Type="BoldReports.Extensions.BarcodeCRI.BarcodeCustomReportItem" />
    </ReportItems>   
  </ReportingExtensions>
</configuration>