<configuration>
  <configSections>
    <section name="ReportingExtensions" type="BoldReports.Configuration.Extensions,  BoldReports.WPF" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <ReportingExtensions>
    <DataExtension>
      <Extension Name="JSON" Assembly="BoldReports.Data.WebData" Type="BoldReports.Data.WebData.JSONExtension" />
      <Extension Name="OData" Assembly="BoldReports.Data.WebData" Type="BoldReports.Data.WebData.ODataExtension" />
      <Extension Name="WebAPI" Assembly="BoldReports.Data.WebData" Type="BoldReports.Data.WebData.WebAPIExtension" />
      <Extension Name="XML" Assembly="BoldReports.Data.WebData" Type="BoldReports.Data.WebData.XMLExtension" />
    </DataExtension>
  </ReportingExtensions>
</configuration>